@model IEnumerable<RentingServices.Models.Property>

@{
    ViewData["Title"] = "Index";
}

<h1>Property </h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PropertyID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PropertyID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PropertyID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
