@model IEnumerable<RentingServices.Models.Lease>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecurityDeposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityDeposit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenant.TenantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Property.PropertyID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LeaseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LeaseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LeaseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
